{% extends "home/layout.html" %}

{% block content %}

    <div class="jumbotron" style="padding: 10px 20px">
        <h2>电影首页</h2>
        <p>
            在这里你可以浏览，收藏，评论电影！
        </p>
        <a href="{{ url_for("home.movie_list",page=1) }}" style="display: inline-block"
           class="btn btn-primary">
            电影列表
        </a>
    </div>

    <div class="col-md-12 text-center">
        <h1>电影推荐</h1>
        {% for ritem in recmd_movies %}
            <div class="col-md-3">
                <div class="media-card">
                    <div class="panel panel-body" style="display: block;padding: 3px;">
                        <div class="card-title">
                            <span style="font-size: large;font-weight: bold;color: #0c0c0c">
                                {{ ritem.title }}
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="card-image">
                                <a href="{{ url_for('home.movie_play',id=ritem.id) }}">
                                    <img src="{{ ritem.cover_url }}"
                                         width="250px" height="180px">
                                </a>
                            </div>
                            <div class="card-status" style="font-size: small; font-weight: 500;color: #2c4762">
                                <span>播放量({{ ritem.clicknum }}) </span>
                                <span> 收藏量({{ ritem.favornum }})</span>
                                <span> 评论量({{ ritem.commtnum }})</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-12 text-center">
        <h1>电影首发</h1>
        {% for ritem in newest_movies %}
            <div class="col-md-3">
                <div class="media-card">
                    <div class="panel panel-body" style="display: block;padding: 3px;">
                        <div class="card-title">
                            <span style="font-size: large;font-weight: bold;color: #0c0c0c">
                                {{ ritem.title }}
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="card-image">
                                <a href="{{ url_for('home.movie_play',id=ritem.id) }}">
                                    <img src="{{ ritem.cover_url }}"
                                         width="250px" height="180px">
                                </a>
                            </div>
                            <div class="card-status" style="font-size: small; font-weight: 500;color: #2c4762">
                                <span>播放量({{ ritem.clicknum }}) </span>
                                <span> 收藏量({{ ritem.favornum }})</span>
                                <span> 评论量({{ ritem.commtnum }})</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-12 text-center">
        <h1>最火电影</h1>
        {% for ritem in hotest_movies %}
            <div class="col-md-3">
                <div class="media-card">
                    <div class="panel panel-body" style="display: block;padding: 3px;">
                        <div class="card-title">
                            <span style="font-size: large;font-weight: bold;color: #0c0c0c">
                                {{ ritem.title }}
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="card-image">
                                <a href="{{ url_for('home.movie_play',id=ritem.id) }}">
                                    <img src="{{ ritem.cover_url }}"
                                         width="250px" height="180px">
                                </a>
                            </div>
                            <div class="card-status" style="font-size: small; font-weight: 500;color: #2c4762">
                                <span>播放量({{ ritem.clicknum }}) </span>
                                <span> 收藏量({{ ritem.favornum }})</span>
                                <span> 评论量({{ ritem.commtnum }})</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(function () {
            $("#nav-9").addClass('active')
        })
    </script>
{% endblock %}

