{% extends "home/layout.html" %}
{% import "home/macro_paginate.html" as paginator %}
{% block content %}

    <div class="jumbotron" style="padding: 5px 20px">
        <h2>{{ session.get("user_name") }}的个人中心</h2>
    </div>

    <div>
        {% include "home/user_menu.html" %}

        <div class="col-md-10">

            <div class="list-group">
                {% for item in movies.items %}
                    <div class="list-group-item clearfix">
                        <div class="col-xs-2">
                            <a href="{{ url_for("home.movie_play",id=item.id) }}">
                                <img src="{{ item.cover_url }}" width="100px" height="60px">
                            </a>
                        </div>
                        <div class="col-xs-8">
                            <a href="{{ url_for("home.movie_play",id=item.id) }}">
                                <span style="font-size: large;font-weight: bold;color: #0c0c0c">
                                {{ item.title }}</span>
                            </a><br>
                            <span>播放量：{{ item.clicknum }} </span><i class="glyphicon glyphicon-apple"></i>
                            <span>收藏量：{{ item.favornum }}</span><i class="glyphicon glyphicon-apple"></i>
                            <span>评论量：{{ item.commtnum }}</span>
                        </div>
                        <div class="col-xs-2">
                            <a style="display: inline-block;font-size: larger;color: red"
                               href="{{ url_for('home.movie_favor',mid=item.id,uid=session.get('user_id'),
                                    act='cancel') }}">
                                取消收藏
                            </a>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-md-12 text-center">
                    {{ paginator.paginate(movies,"home.user_movie_favor") }}
                </div>
            </div>

        </div>

    </div>


{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(
            function () {
                $("#item-10").addClass('list-group-item-success');
            }
        );
    </script>
{% endblock %}